body {font-family: "Segoe UI",Tahoma,Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	text-align:center;
	background-image:url("star.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50%;
	}
	
#body1{width: 1100px;
	margin: 0 auto;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	position:relative;
	background-image:url("trongsuot.png")
	}

	
	
	
	
/*Đây là phần đăng kí*/	#register0 ul{float:right;
									margin-right:3%;
									margin-top:0px}
						#register0 ul li{display:inline-block;}
						#login {cursor:pointer;
								color:white;
								background-color:#2b3faa;
								padding: 5px 12.5px;
								text-transform: uppercase;
								font-family: "Segoe UI",Tahoma,Arial,Helvetica,sans-serif;
								border:1px}
						#login:hover{color:red; background-color:black}
						#register0 ul li,a:hover{cursor:pointer;}
						#register0 ul li,a{text-decoration:none;
										color:black;}

/*Đây là phần MenuBar*/	#menubar{text-align: center;
								list-style-type: none;
								margin: 0 auto;
								padding:5px;
								width:1300px;
								position:relative;
								}				
						#nav{float:left;
							margin-left:0px;
							}
						#nav li {list-style: none inside; 
								float: left; 
								height: 30px; 
								line-height:25px; 
								border-right:1px solid red;
								position: relative;
								z-index:1;
								margin-left:0px;
								}	
						#nav li a{display:block;
								padding:5 30px;
								text-decoration:none;
								font-size:20px;
								background-color:black;
								border: 1px solid red;
								border-radius: 7px;}	
						#nav li a:hover{color:white; background-color:red}				
						#nav ul{	display:none;
								position:absolute;
								top:35px;
								left:0px}	
						#nav li li {border:1px solid red}		
						#nav li li a{display:block;
								width: 250px;}
						#nav li:hover ul{display:block}
						#nav li a{color:white;}





#minibody{width:1100px;
			margin:0 auto;
			position:relative}



#left{	list-style-type: none;
		margin-left:-20px;
		float:left;}
#left ul{list-style:none;}		
#laliga {margin-top:50px}
#mls {margin-top:50px}

#right{	list-style-type: none;
		margin-right:20px;
		float:right;}
#right ul{list-style:none;}		
#league1 {margin-top:50px}
#seriea{margin-top:50px}


#sonbody{text-align:center;
margin:0 auto;.
}

#courtois{text-align:center;
}
#courtois ul li a{color:yellow}
#courtoisimage{text-align:center;}
#courtoisinfo ul{list-style:none;}
#courtoisinfo ul a:hover{cursor:pointer;color:#ff7f00}
#courtoisinfo ul a{color:black}
#courtoisinfo{text-align:center;}

#brotherbody{text-align:center;
margin:0 auto;
width:1100px;
}
#sonbodyleft{float:left; border:1px solid white; border-radius:10px }
#sonbodyright{float:left; margin-top:-100px; margin-left:10px; border:1px solid white; border-radius:10px}



#rooneyimage{float:left;}
#rooneyinformation{float:left; margin-top:-20px; margin-left:5px;}
#rooneyinformation a{color:yellow}
#rooneyp{margin-top:-10px; color:white; }
#rooneyinformation a:hover{color:#ff5400}
#rooney{margin-top:20px; margin-left:20px; }



#hot{background: #022b7a;
	border-left: 5px solid #0052c8;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	padding: 10 85px;
	font-weight: bold;
	margin-top: 20px}
	
#mini{margin-top:10px;}
#minileft{float:right;}
#miniright{float:right;}
.miniimage{margin-top:20px;}
#mini a{color:yellow}
#mini a:hover{color:#ff5400}

		
#footer{width: 1100px;
height: 110px;
color: white;
font-size: 20px;
border: 1px solid #cecece;
background: #1C1A1A;
overflow:hidden;
border-radius: 7px;
	margin: auto;}

#footer p{text-align: center;
font-weight: bold;
font-size: 12px;
padding-left: 30px;}

#anhdong{float:left; margin-top:10px; margin-left:10px;}
#anhdong2{float:left; margin-top:50px; margin-left:10px;}
#video{float:left; margin-top:10px; margin-left:10px; border-bottom:1px solid white}
#minivideo ul li{float:left;display:inline-block; border-right:1px solid white; padding:3 5px; margin-top:15px}





